.contenedor-testimonios {
    max-width: 1170px;
    width: 90%;
    height: 368px;
    margin: 10px auto 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; 
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
  }
  
  .imagen-testimonio {
    height: 100%;
    width: 35%;
    max-width: 340px;
  }
  
  .contenedor-texto-testimonio {
    text-align: center;
    padding: 5%;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    width: 50%;
  }
  
  .nombre-testimonio {
    font-size: 1.3rem;
  }
  
  .cargo-testimonio {
    font-size: 1.3rem;
    margin-top: 15px;
  }
  
  .texto-testimonio {
    font-size: 1.1rem;
    text-align: justify;
    padding-bottom: 30px;
  }
  
  @media (max-width: 768px) {
    .contenedor-testimonios {
      flex-direction: column;
      height: auto;
    }
  
    .imagen-testimonio {
      width: 70%;
    }
  
    .contenedor-texto-testimonio {
      width: 70%;
      padding: 8%;
    }
  }
  